<style>
      * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      html {
        font-size: 16px;
      }
      html,
      body {
        width: 100%;
        height: 100%;
      }
      body {
        background: #A7C2D3;
        font-family: 'Open Sans', sans-serif;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        color: #141414;
      }
      .wrapper {
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 15px;
        position: relative;
        min-width: 550px;
      }
      h1 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 30px;
      }
      h1 span {
        display: inline-block;
        background: rgba(255, 255, 255, 0.6);
        padding: 20px;
      }
      h2 {
        font-weight: 600;
        line-height: 1.1;
        font-size: 2.5rem;
      }
      .eyes {
        width: 200px;
        position: absolute;
        left: 0;
      }
      .shield {
        width: 300px;
        margin-bottom: 30px;
      }
      /*************** media queries start ***********/
      @media only screen and (max-width: 1200px) {
        html {
          font-size: 15px;
        }
        .wrapper {
          min-width: 400px;
        }
        h1 {
          font-size: 4rem;
        }
        h2 {
          font-size: 2rem;
        }
        .eyes {
          width: 150px;
        }
        .shield {
          width: 200px;
        }
      }
      @media only screen and (max-width: 992px) {
        html {
          font-size: 14px;
        }
      }
      /*************** media queries end ***********/

    </style>
